<!DOCTYPE HTML>
<html lang="pt-br">
<head>
 <!-- Google tag (gtag.js) -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=G-PDBS143Z0N"></script>
 <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PDBS143Z0N');
 </script>
 <title>Desculpas para Programadores Preguiçosos</title>
 <meta name="keywords" content="Programação, Programador, Desenvolvimento, Desenvolvedor, Codificação, Codificadores, Desculpas, Razões, Mentiras, Culpa, Justificativas" />
 <meta name="description" content="Desculpas para Programadores Preguiçosos" />
 <link rel="canonical" href="https://desculpasdeprogramador.com.br/" />
 <style type="text/css">* {margin: 0;} html, body {height: 100%;} .wrapper {min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -8em;} .footer, .push {height: 8em;}</style>
</head>
<body>
 <div class="wrapper">
  <center style="color: #333; padding-top: 200px; font-family: Courier; font-size: 24px; font-weight: bold;"><a href="/" rel="nofollow" style="text-decoration: none; color: #333;" lang="pt" data-original-lang="en" data-original-text="{{excuse}}" title="{{excuse}}">{{translated_excuse}}</a></center>
  <div class="push"></div>
 </div>
 <div class="footer">
  <center style="color: #333; font-family: Courier; font-size: 11px;">
   <br /><br />Esta página é uma (tentativa de) tradução do conteúdo publicado em <a href="http://programmingexcuses.com/">programmingexcuses.com</a>.
  </center>
 </div>
</body>
</html>